@import url('@xyflow/react/dist/style.css');

html {
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
}

button,
input,
select,
textarea {
  font: inherit;
}
